/* CSS */
.text-container {
  position: relative;
  text-align: center;
}

.text-container::before,
.text-container::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 4px; /* Lebar garis */
  background-color: white; /* Warna garis */
  width: 60%; /* Panjang garis */
}

.text-container::before {
  left: 90;
  transform: translateX(-100%);
}

.text-container::after {
  right: 90;
  transform: translateX(100%);
}

@media screen and (max-width: 768px) {
  .text-container::before,
  .text-container::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 4px; /* Lebar garis */
    background-color: white; /* Warna garis */
    width: 20%; /* Panjang garis */
  }
}
